<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MNS-Reporting</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../js/app.js"></script>
</head>
<body>
    <main class="container" ng-app="weeklyReports" ng-controller="reportsCtrl">
        <div class="clearfix">
            <img src="../images/mns-logo.jpg" alt="Marks and Spencer logo" id="mnsLogo">
            <img src="../images/sapient-nitro.png" alt="SapientNitro logo" id="sapientLogo">
        </div>
        <section class="clearfix">
            <table id="incidents">
                <caption>Incidents originating in Week ending  27th March  2016</caption>
                <tr ng-repeat="data in incidentData">
                    <td>{{data.name}}</td>
                    <td>{{data.day1}}</td>
                    <td>{{data.day2}}</td>
                    <td>{{data.day3}}</td>
                    <td>{{data.day4}}</td>
                    <td>{{data.day5}}</td>
                    <td>{{data.day6}}</td>
                </tr>
            </table>
            <table id="slaView">
                <caption>SLA View for Week ending 27th March</caption>
                <tr ng-repeat="data in slaView">
                    <td>{{data.name}}</td>
                    <td>{{data.sla}}</td>
                    <td>{{data.reported}}</td>
                    <td>{{data.acheived}}</td>
                    <td>{{data.breached}}</td>
                </tr>
            </table>
            <table id="incidentSummary">
                <caption>Incident Summary till 27th March</caption>
                <tr ng-repeat = "data in incidentSummary">
                    <td>{{data.totalIncidents}}</td>
                    <td>{{data.activeIncidents}}</td>
                    <td>{{data.nonActiveIncidents}}</td>
                </tr>
            </table>
        </section>

        <section>
            <h1>
                M&S eCom Support Weekly Status Report - Week Ending  27th March
            </h1>

            <div id="keyUpdates" class="sections">
                <h2>Key updates</h2>
                <div>
                    <h3>Progress Last Week RAYG : GREEN</h3>
                    <ul>
                        <li>Total <span>69</span> incidents were raised in last week. Pending triage incidents are currently <span>29</span>.</li>
                        <li>1 Sev 2's were raised last week.
                            <ul>
                                <li>Sev 2 | INC000021527174 | EMAIL-PROBE (Site Confidence Alert:Script Step[28065111]) - Site Confidence Alert Script Step - Site Confidence Journey was failing</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>Problem Record</h3>
                    <ul>
                        <li><span>2</span> Open (0 Draft ,2 Pending, 0 Under Review)</li>
                    </ul>
                    <h3>Business Events</h3>
                    <ul>
                        <li>NA</li>
                    </ul>
                    <h3>Environments</h3>
                    <ul>
                        <li>PROD | B&C | THROTTLE | Moving Mobile/App to -6 and Basket change <span>21st Mar</span></li>
                        <li>PROD | Throttling to 100% New Basket for CS and Stores <span>23rd Mar</span></li>
                        <li>PROD | CM-182 | SPARKS - FE change for Sparks FAQs link <span>24th Mar</span></li>
                        <li>PROD | CM-183 | Whitelisting Omniture rest API Url for Prod Servers <span>24th Mar</span></li>
                        <li>PROD | Timezone change to BST <span>27th Mar</span></li>
                        <li>SIT3 | R26 Deployment <span>21st Mar</span></li>
                        <li>SIT3/B | Apply RHEL Patch <span>23rd Mar</span></li>
                    </ul>
                </div>
            </div>

            <div id="nextWeekPlan" class="sections">
                <h2>Plan for next week</h2>
                <div>
                    <h3>Business Events</h3>
                    <ul>
                        <li>NA</li>
                    </ul>
                    <h3>Environments</h3>
                    <ul>
                        <li>PROD | RHEL Patching DR <span>28th Mar</span></li>
                        <li>PROD | Bing SIte Authorisation Update in AKAMAI <span>29th Mar</span></li>
                        <li>PROD | RHEL Patching BURST <span>29th Mar</span></li>
                        <li>PROD | R26 Deployment <span>30th Mar</span></li>
                        <li>DR | QA3 | R26 Deployment <span>31st Mar</span></li>
                    </ul>
                </div>
            </div>

            <div id="risksIssues" class="sections">
                <h2>Key risks/issues</h2>
                <div>
                    <ul>
                        <li>Single Prod/ non-Prod account for Bing request. There is threshhold of 50 requested in 24 hrs</li>
                        <li>Stageprop session killed twice</li>
                    </ul>
                </div>
            </div>

            <div id="accomplishments" class="sections">
                <h2>Accomplishments</h2>
                <div>
                    <ul>
                        <li>Timezone changed from GMT to BST has been successfully completed on 27th March.</li>
                    </ul>
                </div>
            </div>

            <div id="keyDependencies" class="sections">
                <h2>Key dependencies</h2>
            </div>
        </section>
    </main>
</body>
</html>
